<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattlema_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,534},{190,142}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,134},{190,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{186,130}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,145},{186,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,372},{164,144}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,137},{164,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{164,148}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,139},{164,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,522},{182,146}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,153},{182,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,732},{192,150}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,140},{192,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{186,198}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,142},{186,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,184},{186,208}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,157},{186,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{170,222}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,143},{170,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{186,218}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,136},{186,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{196,194}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,151},{196,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_run_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{188,194}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,141},{188,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,190},{174,170}}</string>
                <key>offset</key>
                <string>{-25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,143},{174,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_wound_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{226,180}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,134},{226,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{180,206}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,163},{180,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlema_wound_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,176}}</string>
                <key>offset</key>
                <string>{-22,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,120},{240,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cattlema_02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9dd6b1890e75e57e17ec935f823059:1/1$</string>
            <key>textureFileName</key>
            <string>cattlema_02.png</string>
        </dict>
    </dict>
</plist>
