<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattlem_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{158,170}}</string>
                <key>offset</key>
                <string>{-33,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,143},{158,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{236,198}}</string>
                <key>offset</key>
                <string>{65,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,120},{236,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{172,236}}</string>
                <key>offset</key>
                <string>{-10,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,65},{172,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{224,150}}</string>
                <key>offset</key>
                <string>{-43,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,159},{224,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,154},{204,130}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,169},{204,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,758},{146,156}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,157},{146,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{166,162}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,162},{166,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,164}}</string>
                <key>offset</key>
                <string>{-62,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,139},{246,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{176,218}}</string>
                <key>offset</key>
                <string>{18,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,85},{176,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,202},{198,176}}</string>
                <key>offset</key>
                <string>{35,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,127},{198,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,180},{186,168}}</string>
                <key>offset</key>
                <string>{22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,135},{186,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,180},{138,144}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,159},{138,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,350},{178,160}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,153},{178,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_death_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,326},{182,128}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,192},{182,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,380},{180,176}}</string>
                <key>offset</key>
                <string>{30,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,120},{180,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_death_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{194,152}}</string>
                <key>offset</key>
                <string>{-27,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,234},{194,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,818},{154,166}}</string>
                <key>offset</key>
                <string>{-27,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,144},{154,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,510},{178,158}}</string>
                <key>offset</key>
                <string>{-12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,141},{178,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,286},{184,154}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,145},{184,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,442},{178,154}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,145},{178,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,598},{158,162}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,162},{158,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,512},{166,154}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,162},{166,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{178,160}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,165},{178,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlem_stand_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,558},{170,166}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,163},{170,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cattlem01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59a3fdc936ef3916d8a682344dccbef8:1/1$</string>
            <key>textureFileName</key>
            <string>cattlem01.png</string>
        </dict>
    </dict>
</plist>
