<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattlemb_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,184},{190,158}}</string>
                <key>offset</key>
                <string>{-8,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,118},{190,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,324},{186,148}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,127},{186,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{172,160}}</string>
                <key>offset</key>
                <string>{-18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,121},{172,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,344},{184,162}}</string>
                <key>offset</key>
                <string>{-24,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,125},{184,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,164},{192,170}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,129},{192,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{192,176}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,114},{192,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,300},{192,186}}</string>
                <key>offset</key>
                <string>{12,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,105},{192,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{204,174}}</string>
                <key>offset</key>
                <string>{15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,119},{204,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{202,180}}</string>
                <key>offset</key>
                <string>{29,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,114},{202,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{212,160}}</string>
                <key>offset</key>
                <string>{33,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,119},{212,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,148}}</string>
                <key>offset</key>
                <string>{22,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,131},{220,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_run_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{210,162}}</string>
                <key>offset</key>
                <string>{14,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,123},{210,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,474},{166,170}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,143},{166,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_wound_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{140,162}}</string>
                <key>offset</key>
                <string>{78,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,152},{140,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,178},{194,144}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,163},{194,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_wound_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,164},{134,204}}</string>
                <key>offset</key>
                <string>{-76,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,92},{134,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cattlemb_02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b245ae2ea11cd1bcc5f55ecff7d6888b:1/1$</string>
            <key>textureFileName</key>
            <string>cattlemb_02.png</string>
        </dict>
    </dict>
</plist>
