<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dihuo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{172,124}}</string>
                <key>offset</key>
                <string>{-2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,371},{172,124}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{482,332}}</string>
                <key>offset</key>
                <string>{-3,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,289},{482,332}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{482,410}}</string>
                <key>offset</key>
                <string>{-3,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,211},{482,410}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,480},{506,454}}</string>
                <key>offset</key>
                <string>{-9,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,167},{506,454}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,466},{542,460}}</string>
                <key>offset</key>
                <string>{-8,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,161},{542,460}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{568,462}}</string>
                <key>offset</key>
                <string>{-7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,159},{568,462}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{598,476}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,145},{598,476}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,474}}</string>
                <key>offset</key>
                <string>{-11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,147},{610,474}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{580,428}}</string>
                <key>offset</key>
                <string>{-14,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,192},{580,428}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>dihuo_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1320},{460,316}}</string>
                <key>offset</key>
                <string>{-1,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,298},{460,316}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dihuo.png</string>
            <key>size</key>
            <string>{1958,1804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:696d1483fc1f31e0b2e6fc52cd97e26e$</string>
            <key>textureFileName</key>
            <string>dihuo.png</string>
        </dict>
    </dict>
</plist>
