<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fechiefa_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,192},{116,186}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{116,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,570},{154,180}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,119},{154,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,676},{116,170}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,127},{116,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,522},{152,174}}</string>
                <key>offset</key>
                <string>{-59,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,126},{152,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,200},{128,190}}</string>
                <key>offset</key>
                <string>{-36,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,109},{128,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,596},{110,192}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,105},{110,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,398},{114,196}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,100},{114,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,196}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,90},{148,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{110,186}}</string>
                <key>offset</key>
                <string>{11,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,103},{110,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,362},{158,176}}</string>
                <key>offset</key>
                <string>{62,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,124},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,240},{120,184}}</string>
                <key>offset</key>
                <string>{30,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,109},{120,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,596},{104,196}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,101},{104,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,382},{116,186}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{116,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_death_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,190},{170,86}}</string>
                <key>offset</key>
                <string>{134,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,210},{170,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{114,196}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,100},{114,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_death_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,794},{196,78}}</string>
                <key>offset</key>
                <string>{-149,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,263},{196,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{100,188}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,103},{100,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,590},{128,188}}</string>
                <key>offset</key>
                <string>{19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,102},{128,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{108,186}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,111},{108,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{106,190}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,103},{106,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,110},{128,184}}</string>
                <key>offset</key>
                <string>{17,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,99},{128,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,380},{108,180}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,111},{108,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,790},{100,190}}</string>
                <key>offset</key>
                <string>{-7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,102},{100,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,770},{128,182}}</string>
                <key>offset</key>
                <string>{-20,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,100},{128,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,362},{106,180}}</string>
                <key>offset</key>
                <string>{-13,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,110},{106,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,192},{104,188}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,102},{104,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,398},{128,190}}</string>
                <key>offset</key>
                <string>{-18,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,99},{128,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_run_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{106,186}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,110},{106,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,582},{116,186}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{116,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{114,188}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,111},{114,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,392},{122,188}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,111},{122,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,194},{114,188}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,111},{114,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{114,196}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,100},{114,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{112,196}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,100},{112,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{120,196}}</string>
                <key>offset</key>
                <string>{4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,100},{120,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_stand_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,200},{112,196}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,100},{112,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,780},{116,186}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{116,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_wound_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,794},{132,194}}</string>
                <key>offset</key>
                <string>{45,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,104},{132,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{114,196}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,100},{114,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechiefa_wound_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,752},{134,170}}</string>
                <key>offset</key>
                <string>{-48,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,140},{134,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fechiefa.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:510cfaa0780328ee2329b37597d81c43:1/1$</string>
            <key>textureFileName</key>
            <string>fechiefa.png</string>
        </dict>
    </dict>
</plist>
