<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fechief_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,380},{102,186}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{102,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,378},{118,180}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,119},{118,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,848},{92,170}}</string>
                <key>offset</key>
                <string>{-29,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,127},{92,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,676},{170,174}}</string>
                <key>offset</key>
                <string>{-83,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,126},{170,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,200},{158,190}}</string>
                <key>offset</key>
                <string>{-51,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,109},{158,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,596},{128,192}}</string>
                <key>offset</key>
                <string>{-20,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,105},{128,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,200},{98,196}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,100},{98,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{108,196}}</string>
                <key>offset</key>
                <string>{5,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,90},{108,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,190},{96,186}}</string>
                <key>offset</key>
                <string>{31,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,103},{96,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,498},{176,176}}</string>
                <key>offset</key>
                <string>{85,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,124},{176,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{170,184}}</string>
                <key>offset</key>
                <string>{56,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,109},{170,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,196}}</string>
                <key>offset</key>
                <string>{23,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,101},{136,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,574},{102,186}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{102,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_death_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,848},{146,86}}</string>
                <key>offset</key>
                <string>{122,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,210},{146,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,596},{100,196}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,100},{100,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_death_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,144},{184,96}}</string>
                <key>offset</key>
                <string>{-143,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,263},{184,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,192},{118,186}}</string>
                <key>offset</key>
                <string>{-4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,105},{118,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{152,190}}</string>
                <key>offset</key>
                <string>{7,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,100},{152,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,188}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,109},{128,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,398},{120,192}}</string>
                <key>offset</key>
                <string>{3,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,101},{120,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{140,184}}</string>
                <key>offset</key>
                <string>{11,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,99},{140,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,378},{126,180}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{126,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,790},{118,188}}</string>
                <key>offset</key>
                <string>{3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,104},{118,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,762},{152,182}}</string>
                <key>offset</key>
                <string>{-7,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,100},{152,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,568},{130,182}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{130,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,194},{122,190}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,100},{122,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,392},{142,190}}</string>
                <key>offset</key>
                <string>{-11,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,99},{142,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_run_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,386},{126,186}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,110},{126,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,774},{102,186}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{102,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,584},{102,188}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,111},{102,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,584},{110,188}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,111},{110,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,774},{102,188}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,111},{102,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{100,196}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,100},{100,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,398},{98,196}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,100},{98,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{106,196}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,100},{106,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_stand_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{96,196}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,100},{96,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,186}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{102,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_wound_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,794},{132,194}}</string>
                <key>offset</key>
                <string>{45,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,104},{132,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{100,196}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,100},{100,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fechief_wound_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,242},{134,170}}</string>
                <key>offset</key>
                <string>{-48,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,140},{134,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fechief.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7249925572baffe81e8f96535754cdee:1/1$</string>
            <key>textureFileName</key>
            <string>fechief.png</string>
        </dict>
    </dict>
</plist>
