<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fgenerala_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,226},{98,208}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{98,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,436},{116,200}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,103},{116,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{138,230}}</string>
                <key>offset</key>
                <string>{-11,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,55},{138,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{108,234}}</string>
                <key>offset</key>
                <string>{6,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,56},{108,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{152,222}}</string>
                <key>offset</key>
                <string>{29,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,48},{152,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{198,194}}</string>
                <key>offset</key>
                <string>{-42,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,109},{198,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,648},{148,200}}</string>
                <key>offset</key>
                <string>{-35,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,103},{148,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,226},{96,210}}</string>
                <key>offset</key>
                <string>{2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,95},{96,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{118,182}}</string>
                <key>offset</key>
                <string>{-9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,123},{118,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{128,222}}</string>
                <key>offset</key>
                <string>{9,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,47},{128,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,252}}</string>
                <key>offset</key>
                <string>{-1,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,0},{86,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,234},{138,224}}</string>
                <key>offset</key>
                <string>{-25,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,32},{138,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,202},{194,186}}</string>
                <key>offset</key>
                <string>{40,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,103},{194,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{158,206}}</string>
                <key>offset</key>
                <string>{39,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,99},{158,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_death_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,438},{98,208}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{98,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{226,156}}</string>
                <key>offset</key>
                <string>{61,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,239},{226,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_death_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,460},{96,210}}</string>
                <key>offset</key>
                <string>{2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,95},{96,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,412},{198,116}}</string>
                <key>offset</key>
                <string>{-51,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,181},{198,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_wound_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,672},{98,208}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{98,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,882},{120,186}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,117},{120,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_wound_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,720},{96,210}}</string>
                <key>offset</key>
                <string>{2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,95},{96,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgenerala_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,210},{112,200}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,105},{112,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fgenerala01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66966cc6d737b0dec1c1e6955d1ab238:1/1$</string>
            <key>textureFileName</key>
            <string>fgenerala01.png</string>
        </dict>
    </dict>
</plist>
