<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fsoldiera_run_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{152,172}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,119},{152,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,782},{152,156}}</string>
                <key>offset</key>
                <string>{-26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,136},{152,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,610},{170,168}}</string>
                <key>offset</key>
                <string>{-32,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,124},{170,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,220},{200,152}}</string>
                <key>offset</key>
                <string>{-15,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,126},{200,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,610},{152,144}}</string>
                <key>offset</key>
                <string>{-36,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,134},{152,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,866},{154,156}}</string>
                <key>offset</key>
                <string>{-27,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,123},{154,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,224}}</string>
                <key>offset</key>
                <string>{-5,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,75},{146,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{140,208}}</string>
                <key>offset</key>
                <string>{19,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,101},{140,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{154,172}}</string>
                <key>offset</key>
                <string>{25,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,114},{154,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{188,166}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,126},{188,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,782},{146,168}}</string>
                <key>offset</key>
                <string>{28,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,133},{146,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{142,210}}</string>
                <key>offset</key>
                <string>{20,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,90},{142,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{216,192}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,107},{216,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{216,192}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,107},{216,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_wound_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,422},{186,178}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,121},{186,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,192},{182,168}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,131},{182,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_wound_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,658},{206,176}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,124},{206,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldiera_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,446},{206,172}}</string>
                <key>offset</key>
                <string>{-14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,128},{206,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fsoldiera02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5439ccaf925128f51350c187097c7e56:1/1$</string>
            <key>textureFileName</key>
            <string>fsoldiera02.png</string>
        </dict>
    </dict>
</plist>
