<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1058},{114,118}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,102},{114,118}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,912},{144,152}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,90},{144,152}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1174},{182,174}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,82},{182,174}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1358},{204,178}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,79},{204,178}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{220,194}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,66},{220,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1446},{222,194}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{222,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1314},{222,194}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{222,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1120},{250,192}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{250,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{240,194}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,66},{240,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1242},{240,202}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,66},{240,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{246,206}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{246,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1034},{252,206}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,67},{252,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,912},{256,206}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,68},{256,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,842},{258,190}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,86},{258,190}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,718},{280,192}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,86},{280,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{320,206}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,86},{320,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,210},{310,236}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,72},{310,236}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,256}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{346,256}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,448},{338,268}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{338,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{338,274}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{338,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,290},{338,282}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{338,282}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{338,286}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{338,286}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{338,286}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{338,286}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,574},{338,266}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,63},{338,266}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ice_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{338,248}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,66},{338,248}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c149b1083da71df2b00f2f8e0f639f1:1/1$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
