<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lqcg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,530},{426,144}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{426,144}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{426,144}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{426,144}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{438,144}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{438,144}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,144}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{486,144}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,144}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{486,144}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,144}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{486,144}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{486,116}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{486,116}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>lqcg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{486,116}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{486,116}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lqcg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60867d7ab11c246e3c309dba4600f753:1/1$</string>
            <key>textureFileName</key>
            <string>lqcg.png</string>
        </dict>
    </dict>
</plist>
