<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicattack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,256},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{186,230}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,256},{186,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{252,236}}</string>
                <key>offset</key>
                <string>{-17,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,269},{252,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1286},{256,272}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,260},{256,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{192,300}}</string>
                <key>offset</key>
                <string>{41,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,253},{192,300}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1410},{242,260}}</string>
                <key>offset</key>
                <string>{63,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,257},{242,260}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{212,282}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,181},{212,282}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1194},{182,266}}</string>
                <key>offset</key>
                <string>{-35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,195},{182,266}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1604},{166,276}}</string>
                <key>offset</key>
                <string>{-54,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,188},{166,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1024},{178,234}}</string>
                <key>offset</key>
                <string>{-60,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,233},{178,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,480},{194,216}}</string>
                <key>offset</key>
                <string>{-75,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,250},{194,216}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1484},{200,202}}</string>
                <key>offset</key>
                <string>{-80,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,264},{200,202}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,736},{184,218}}</string>
                <key>offset</key>
                <string>{-20,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,251},{184,218}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1672},{144,244}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,239},{144,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,286},{196,270}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,232},{196,270}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1146},{262,240}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,229},{262,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1560},{232,272}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,232},{232,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{152,278}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,235},{152,278}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,524},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1770},{132,226}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,225},{132,226}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,558},{184,264}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,187},{184,264}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{250,266}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,187},{250,266}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,794},{252,226}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,232},{252,226}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{194,230}}</string>
                <key>offset</key>
                <string>{-43,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,241},{194,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,536},{236,256}}</string>
                <key>offset</key>
                <string>{-61,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,223},{236,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1048},{210,248}}</string>
                <key>offset</key>
                <string>{-40,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,205},{210,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,270},{180,264}}</string>
                <key>offset</key>
                <string>{34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,193},{180,264}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,318},{166,284}}</string>
                <key>offset</key>
                <string>{54,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,175},{166,284}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,920},{176,272}}</string>
                <key>offset</key>
                <string>{59,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,194},{176,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1298},{192,242}}</string>
                <key>offset</key>
                <string>{74,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,235},{192,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,778},{200,244}}</string>
                <key>offset</key>
                <string>{79,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,239},{200,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,630},{186,288}}</string>
                <key>offset</key>
                <string>{22,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,243},{186,288}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{146,310}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,232},{146,310}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,318},{200,310}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,196},{200,310}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1462},{262,256}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,209},{262,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,248},{228,230}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,222},{228,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1882},{150,236}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,217},{150,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>magicattack_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1542},{132,226}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,225},{132,226}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1024},{142,238}}</string>
                <key>offset</key>
                <string>{11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,253},{142,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,502},{168,232}}</string>
                <key>offset</key>
                <string>{22,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,273},{168,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,878},{176,266}}</string>
                <key>offset</key>
                <string>{47,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,283},{176,266}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,990},{172,294}}</string>
                <key>offset</key>
                <string>{53,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,248},{172,294}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,268},{210,254}}</string>
                <key>offset</key>
                <string>{68,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,229},{210,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1726},{122,262}}</string>
                <key>offset</key>
                <string>{34,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,221},{122,262}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{120,264}}</string>
                <key>offset</key>
                <string>{11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,219},{120,264}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,334}}</string>
                <key>offset</key>
                <string>{43,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,275},{158,334}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{314,260}}</string>
                <key>offset</key>
                <string>{100,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,224},{314,260}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,510},{180,244}}</string>
                <key>offset</key>
                <string>{33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,215},{180,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1260},{170,222}}</string>
                <key>offset</key>
                <string>{28,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,243},{170,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,756},{174,232}}</string>
                <key>offset</key>
                <string>{29,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,257},{174,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,824},{144,260}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,217},{144,260}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1672},{166,244}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,225},{166,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{174,282}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,184},{174,282}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,604},{166,272}}</string>
                <key>offset</key>
                <string>{-52,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,231},{166,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1834},{212,230}}</string>
                <key>offset</key>
                <string>{-69,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,309},{212,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1918},{126,218}}</string>
                <key>offset</key>
                <string>{-36,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,307},{126,218}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1918},{120,240}}</string>
                <key>offset</key>
                <string>{-12,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,266},{120,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{158,332}}</string>
                <key>offset</key>
                <string>{-44,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,134},{158,332}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{316,216}}</string>
                <key>offset</key>
                <string>{-101,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,253},{316,216}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,990},{180,220}}</string>
                <key>offset</key>
                <string>{-34,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,283},{180,220}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{168,244}}</string>
                <key>offset</key>
                <string>{-29,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,263},{168,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,256},{174,244}}</string>
                <key>offset</key>
                <string>{-30,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,225},{174,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>phyattack_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,190},{132,230}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,221},{132,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>personattack.png</string>
            <key>size</key>
            <string>{1982,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6158ad42043a6ba8ddb6e71edbb8e26e$</string>
            <key>textureFileName</key>
            <string>personattack.png</string>
        </dict>
    </dict>
</plist>
