<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30100.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,75},{50,110}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{50,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30101.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,62},{54,112}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{54,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30102.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{58,112}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{58,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{60,110}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30104.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{60,108}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{58,104}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,5},{58,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30106.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,243},{58,98}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,7},{58,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{62,96}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{62,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{66,94}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{66,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30109.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,290},{66,96}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{66,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{66,98}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{66,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30111.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,215},{64,100}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{64,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30112.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,176},{62,102}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{62,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30113.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,127},{62,102}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{62,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{58,102}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{58,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30115.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,159},{54,102}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{54,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30116.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,191},{50,102}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{50,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30117.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,240},{48,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{48,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>30118.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,240},{50,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{50,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BulletFire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,159},{76,29}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{76,29}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,303},{72,69}}</string>
                <key>offset</key>
                <string>{36,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,34},{72,69}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,114},{104,35}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,52},{104,35}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,118},{110,39}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{110,39}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,51}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,44},{132,51}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,55},{124,57}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{124,57}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,69}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{132,69}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{126,71}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{126,71}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,387},{90,69}}</string>
                <key>offset</key>
                <string>{27,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,36},{90,69}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
            <key>BulletFire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,281},{86,73}}</string>
                <key>offset</key>
                <string>{28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{86,73}}</string>
                <key>sourceSize</key>
                <string>{154,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>robot01.png</string>
            <key>size</key>
            <string>{512,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0995006808f4b0895b8a3253ea9830cc$</string>
            <key>textureFileName</key>
            <string>robot01.png</string>
        </dict>
    </dict>
</plist>
