<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicattck01_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{130,220}}</string>
                <key>offset</key>
                <string>{17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,97},{130,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{128,208}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,129},{128,208}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,714},{122,198}}</string>
                <key>offset</key>
                <string>{-4,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,161},{122,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,714},{120,198}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,128},{120,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,258}}</string>
                <key>offset</key>
                <string>{-60,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{166,258}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{84,232}}</string>
                <key>offset</key>
                <string>{-30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{84,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{90,232}}</string>
                <key>offset</key>
                <string>{-18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,101},{90,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,262},{132,210}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,99},{132,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{108,200}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,122},{108,200}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,400},{122,182}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,133},{122,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{196,182}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,111},{196,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,496},{216,172}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,123},{216,172}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,212},{150,204}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,99},{150,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,196},{170,174}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{170,174}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,616},{176,186}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,115},{176,186}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{168,192}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,114},{168,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>magicattck01_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,204},{144,194}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,117},{144,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{130,220}}</string>
                <key>offset</key>
                <string>{17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,97},{130,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{128,208}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,129},{128,208}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,714},{122,198}}</string>
                <key>offset</key>
                <string>{-4,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,161},{122,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,714},{120,198}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,128},{120,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,258}}</string>
                <key>offset</key>
                <string>{-60,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{166,258}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{84,232}}</string>
                <key>offset</key>
                <string>{-30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{84,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{90,232}}</string>
                <key>offset</key>
                <string>{-18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,101},{90,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,262},{132,210}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,99},{132,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{108,200}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,122},{108,200}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,400},{122,182}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,133},{122,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{196,182}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,111},{196,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,496},{216,172}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,123},{216,172}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,212},{150,204}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,99},{150,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,196},{170,174}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{170,174}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,616},{176,186}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,115},{176,186}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{168,192}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,114},{168,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>physicalattack01_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,204},{144,194}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,117},{144,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_02_03.png</string>
            <key>size</key>
            <string>{698,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b02284b12682f64e3f104f42ec23b1ad$</string>
            <key>textureFileName</key>
            <string>role_02_03.png</string>
        </dict>
    </dict>
</plist>
