<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1184},{50,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{50,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1426},{114,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{114,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{170,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,56},{170,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{210,186}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{210,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,990},{232,200}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{232,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,986},{240,214}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{240,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,756},{240,232}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{240,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,512},{248,242}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{248,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{252,246}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{252,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{256,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{254,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{256,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,258},{254,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,496},{238,246}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{238,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{238,248}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{238,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{238,244}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{238,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,256},{238,246}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{238,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,736},{236,248}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{236,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,514},{236,248}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{236,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,752},{232,246}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{232,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,974},{226,246}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{226,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1202},{118,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1202},{118,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1322},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1322},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1202},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1192},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1202},{124,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1322},{118,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1328},{108,118}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{108,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1322},{102,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{102,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1192},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1202},{118,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1202},{118,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1322},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1322},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1202},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1192},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1202},{124,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1322},{118,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1328},{108,118}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{108,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1322},{102,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{102,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1192},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bombAndfire.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ba09414d2162a6a42da8bb9a88a5ab:1/1$</string>
            <key>textureFileName</key>
            <string>bombAndfire.png</string>
        </dict>
    </dict>
</plist>
