<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattlemb_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,850},{166,170}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,143},{166,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{232,198}}</string>
                <key>offset</key>
                <string>{72,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,120},{232,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{198,206}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,93},{198,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,170}}</string>
                <key>offset</key>
                <string>{-81,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,160},{300,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{282,142}}</string>
                <key>offset</key>
                <string>{-63,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,168},{282,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,476},{196,146}}</string>
                <key>offset</key>
                <string>{-43,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,158},{196,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,476},{194,144}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,163},{194,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,310},{246,164}}</string>
                <key>offset</key>
                <string>{-83,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,139},{246,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,318},{222,196}}</string>
                <key>offset</key>
                <string>{-37,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,107},{222,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,132},{266,176}}</string>
                <key>offset</key>
                <string>{68,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,127},{266,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,146},{258,170}}</string>
                <key>offset</key>
                <string>{58,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,133},{258,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{190,144}}</string>
                <key>offset</key>
                <string>{48,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,159},{190,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,588},{190,184}}</string>
                <key>offset</key>
                <string>{48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,129},{190,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_death_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{274,128}}</string>
                <key>offset</key>
                <string>{-67,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,190},{274,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,672},{118,176}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,120},{118,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_death_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,384},{202,210}}</string>
                <key>offset</key>
                <string>{-23,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,234},{202,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{154,188}}</string>
                <key>offset</key>
                <string>{-27,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,122},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,800},{178,174}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,125},{178,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,774},{184,172}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,127},{184,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,624},{178,174}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,125},{178,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,774},{144,188}}</string>
                <key>offset</key>
                <string>{28,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,115},{144,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,192},{166,190}}</string>
                <key>offset</key>
                <string>{15,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,113},{166,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,516},{178,190}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,113},{178,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cattlemb_stand_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{168,190}}</string>
                <key>offset</key>
                <string>{16,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,113},{168,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cattlemb_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1363b6a6bce5010777709517a5c9aa1:1/1$</string>
            <key>textureFileName</key>
            <string>cattlemb_01.png</string>
        </dict>
    </dict>
</plist>
