<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,354},{38,38}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,264},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{146,92}}</string>
                <key>offset</key>
                <string>{-44,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,217},{146,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,210}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,173},{246,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,178},{222,174}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,186},{222,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{218,164}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,181},{218,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{212,168}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,184},{212,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,536},{212,170}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,188},{212,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,354},{218,180}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,191},{218,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{220,178}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,198},{220,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>daoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{222,174}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,207},{222,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daoguang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c4dca543481b0759073f051cd31209:1/1$</string>
            <key>textureFileName</key>
            <string>daoguang.png</string>
        </dict>
    </dict>
</plist>
