<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>devilking_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,542},{200,230}}</string>
                <key>offset</key>
                <string>{25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,118},{200,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,672},{222,232}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,127},{222,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{240,206}}</string>
                <key>offset</key>
                <string>{45,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,140},{240,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,286},{258,232}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,135},{258,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{296,138}}</string>
                <key>offset</key>
                <string>{-108,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,155},{296,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{340,136}}</string>
                <key>offset</key>
                <string>{-63,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,147},{340,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,774},{216,190}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,105},{216,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,520},{216,162}}</string>
                <key>offset</key>
                <string>{-16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,138},{216,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,774},{226,148}}</string>
                <key>offset</key>
                <string>{-38,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,156},{226,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,142},{260,142}}</string>
                <key>offset</key>
                <string>{-38,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,155},{260,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,140},{292,214}}</string>
                <key>offset</key>
                <string>{106,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,122},{292,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,170}}</string>
                <key>offset</key>
                <string>{49,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,128},{340,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,356},{184,242}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,113},{184,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_death_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{288,120}}</string>
                <key>offset</key>
                <string>{112,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,199},{288,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{234,208}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,89},{234,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_death_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{284,166}}</string>
                <key>offset</key>
                <string>{-114,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,189},{284,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>devikiing01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbef75e997c7b0b64ee74d6ac6e0b4cc:1/1$</string>
            <key>textureFileName</key>
            <string>devikiing01.png</string>
        </dict>
    </dict>
</plist>
