<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>devilking_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{294,170}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,117},{294,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,206},{286,178}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,124},{286,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,386},{280,184}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,113},{280,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,600},{268,216}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,113},{268,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,572},{276,204}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,118},{276,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{302,176}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,109},{302,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,198}}</string>
                <key>offset</key>
                <string>{9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{316,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{300,202}}</string>
                <key>offset</key>
                <string>{12,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,97},{300,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,206},{296,194}}</string>
                <key>offset</key>
                <string>{11,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,91},{296,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,402},{278,196}}</string>
                <key>offset</key>
                <string>{13,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,92},{278,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{278,194}}</string>
                <key>offset</key>
                <string>{19,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,95},{278,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_run_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,202}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{308,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{196,242}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,113},{196,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,968},{194,246}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,112},{194,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,778},{188,250}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,110},{188,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{192,248}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,110},{192,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1024},{244,206}}</string>
                <key>offset</key>
                <string>{11,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,88},{244,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1164},{236,208}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,89},{236,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1232},{232,208}}</string>
                <key>offset</key>
                <string>{17,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,90},{232,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1002},{236,208}}</string>
                <key>offset</key>
                <string>{16,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,90},{236,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_wound_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,778},{216,222}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,113},{216,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_wound_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,818},{204,248}}</string>
                <key>offset</key>
                <string>{35,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,115},{204,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_wound_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{260,208}}</string>
                <key>offset</key>
                <string>{-7,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,88},{260,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>devilking_wound_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{232,196}}</string>
                <key>offset</key>
                <string>{-28,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,114},{232,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deviking02.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:886ca883f505bcc5b7be25defd2735f0:1/1$</string>
            <key>textureFileName</key>
            <string>deviking02.png</string>
        </dict>
    </dict>
</plist>
