<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fgeneral_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,658},{122,208}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,95},{122,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,678},{106,200}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,103},{106,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,290},{116,230}}</string>
                <key>offset</key>
                <string>{17,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,55},{116,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{220,278}}</string>
                <key>offset</key>
                <string>{62,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,12},{220,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{180,270}}</string>
                <key>offset</key>
                <string>{32,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,0},{180,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,224},{238,194}}</string>
                <key>offset</key>
                <string>{-62,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,109},{238,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{192,200}}</string>
                <key>offset</key>
                <string>{-57,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,103},{192,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,790},{126,210}}</string>
                <key>offset</key>
                <string>{21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,95},{126,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,678},{110,182}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,123},{110,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,408},{116,226}}</string>
                <key>offset</key>
                <string>{-14,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,43},{116,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{168,252}}</string>
                <key>offset</key>
                <string>{-42,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,0},{168,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,324},{208,228}}</string>
                <key>offset</key>
                <string>{-50,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,28},{208,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{230,186}}</string>
                <key>offset</key>
                <string>{59,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,103},{230,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_attack_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,534},{198,206}}</string>
                <key>offset</key>
                <string>{59,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,99},{198,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_death_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,786},{122,208}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,95},{122,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_death_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,164}}</string>
                <key>offset</key>
                <string>{89,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,240},{280,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_death_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,196},{126,210}}</string>
                <key>offset</key>
                <string>{21,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,95},{126,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_death_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,172},{246,116}}</string>
                <key>offset</key>
                <string>{-75,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,181},{246,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,790},{122,210}}</string>
                <key>offset</key>
                <string>{-18,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,93},{122,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,798},{122,212}}</string>
                <key>offset</key>
                <string>{-17,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,91},{122,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,552},{124,214}}</string>
                <key>offset</key>
                <string>{-17,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,89},{124,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{122,212}}</string>
                <key>offset</key>
                <string>{-17,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,91},{122,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{126,212}}</string>
                <key>offset</key>
                <string>{21,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,93},{126,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,526},{130,214}}</string>
                <key>offset</key>
                <string>{20,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,91},{130,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{130,214}}</string>
                <key>offset</key>
                <string>{20,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,91},{130,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fgeneral_stand_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,420},{130,214}}</string>
                <key>offset</key>
                <string>{20,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,91},{130,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fgeneral01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a358663186b5224e93a6901de23bb50:1/1$</string>
            <key>textureFileName</key>
            <string>fgeneral01.png</string>
        </dict>
    </dict>
</plist>
