<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fsoldier_run_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,164}}</string>
                <key>offset</key>
                <string>{-35,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,127},{220,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{200,154}}</string>
                <key>offset</key>
                <string>{-50,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,138},{200,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{194,168}}</string>
                <key>offset</key>
                <string>{-44,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,124},{194,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{214,152}}</string>
                <key>offset</key>
                <string>{-22,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,126},{214,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,796},{176,144}}</string>
                <key>offset</key>
                <string>{-48,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,134},{176,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{202,156}}</string>
                <key>offset</key>
                <string>{-51,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,123},{202,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,324},{200,170}}</string>
                <key>offset</key>
                <string>{21,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,108},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{186,142}}</string>
                <key>offset</key>
                <string>{41,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,135},{186,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{184,156}}</string>
                <key>offset</key>
                <string>{41,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,123},{184,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,156},{212,166}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,126},{212,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,672},{172,156}}</string>
                <key>offset</key>
                <string>{46,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,136},{172,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fsoldier_run_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,496},{188,174}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,121},{188,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fsoldier02.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9417d585fd14a2d8f201691512dc1e19:1/1$</string>
            <key>textureFileName</key>
            <string>fsoldier02.png</string>
        </dict>
    </dict>
</plist>
