<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1168},{132,226}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,225},{132,226}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1750},{146,234}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,221},{146,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1866},{152,246}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,213},{152,246}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,530},{146,248}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,212},{146,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1272},{136,238}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,220},{136,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1512},{132,236}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,235},{132,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1030},{128,240}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,237},{128,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{140,232}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,237},{140,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1284},{148,242}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,219},{148,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1856},{152,236}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,213},{152,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1402},{132,226}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,225},{132,226}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1630},{140,222}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,263},{140,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1854},{142,214}}</string>
                <key>offset</key>
                <string>{-23,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,268},{142,214}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1396},{138,222}}</string>
                <key>offset</key>
                <string>{-27,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,261},{138,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1816},{140,230}}</string>
                <key>offset</key>
                <string>{-23,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,251},{140,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1620},{138,218}}</string>
                <key>offset</key>
                <string>{-20,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,262},{138,218}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1378},{134,210}}</string>
                <key>offset</key>
                <string>{-15,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,271},{134,210}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1158},{138,218}}</string>
                <key>offset</key>
                <string>{-15,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,266},{138,218}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,938},{132,230}}</string>
                <key>offset</key>
                <string>{-18,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,255},{132,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,934},{140,222}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,263},{140,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,550},{144,260}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,217},{144,260}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,236},{138,232}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,225},{138,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1528},{122,240}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,215},{122,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1092},{128,254}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,207},{128,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1348},{138,252}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,218},{138,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,702},{122,230}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,231},{122,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,260},{124,248}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,218},{124,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{130,266}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,207},{130,266}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{144,260}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,217},{144,260}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{140,272}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,214},{140,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1890},{142,232}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,224},{142,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{136,256}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,212},{136,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,276},{138,272}}</string>
                <key>offset</key>
                <string>{22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,201},{138,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{138,274}}</string>
                <key>offset</key>
                <string>{19,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,212},{138,274}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1770},{134,238}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,222},{134,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,270},{138,258}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,211},{138,258}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,276}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,201},{132,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{140,272}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,214},{140,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,936},{132,230}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,221},{132,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,236},{132,232}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,220},{132,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,470},{132,232}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,220},{132,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,704},{132,232}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,221},{132,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1182},{132,234}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,220},{132,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,946},{132,234}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,220},{132,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,710},{132,234}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,221},{132,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1654},{130,234}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,222},{130,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1418},{130,234}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,222},{130,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{130,232}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,223},{130,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,474},{132,234}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,221},{132,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,238},{134,234}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,221},{134,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{134,234}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,220},{134,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,470},{134,232}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,221},{134,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1170},{132,230}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,222},{132,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,470},{132,230}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,221},{132,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,704},{132,230}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,221},{132,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,782},{112,250}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,215},{112,250}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,780},{112,248}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,217},{112,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1034},{112,248}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,217},{112,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1318},{112,248}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,218},{112,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1568},{112,246}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,220},{112,246}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1602},{112,248}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,218},{112,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,530},{112,250}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,216},{112,250}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,812},{112,252}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,214},{112,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1068},{112,252}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,214},{112,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1604},{112,254}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,213},{112,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{112,256}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,211},{112,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{112,256}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,211},{112,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{112,256}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,211},{112,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1348},{112,254}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,212},{112,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,812},{112,254}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,212},{112,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1602},{112,252}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,213},{112,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1066},{112,250}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,215},{112,250}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role2.png</string>
            <key>size</key>
            <string>{1372,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278bf9a120947674be3e5932f1c72a25$</string>
            <key>textureFileName</key>
            <string>role2.png</string>
        </dict>
    </dict>
</plist>
