<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,372},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,358},{148,238}}</string>
                <key>offset</key>
                <string>{7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,254},{148,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,592},{154,212}}</string>
                <key>offset</key>
                <string>{10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,286},{154,212}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,116},{146,232}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,262},{146,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1140},{136,244}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,238},{136,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1386},{134,244}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,228},{134,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1712},{128,254}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,217},{128,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1904},{142,244}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,225},{142,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1894},{148,244}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,234},{148,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1712},{152,252}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,235},{152,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>attack_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,632},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1398},{176,246}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,236},{176,246}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1334},{118,238}}</string>
                <key>offset</key>
                <string>{23,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,251},{118,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1454},{140,252}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,237},{140,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,932},{146,264}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,224},{146,264}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1456},{168,254}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,232},{168,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,880},{122,244}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,238},{122,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,116},{144,248}}</string>
                <key>offset</key>
                <string>{13,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,235},{144,248}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,116},{160,258}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,225},{160,258}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1656},{176,246}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,236},{176,246}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1094},{142,238}}</string>
                <key>offset</key>
                <string>{11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,253},{142,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1078},{138,228}}</string>
                <key>offset</key>
                <string>{7,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,263},{138,228}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,356},{124,234}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,253},{124,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,360},{128,242}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,242},{128,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1332},{138,232}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,250},{138,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,836},{122,226}}</string>
                <key>offset</key>
                <string>{14,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,257},{122,226}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,598},{126,236}}</string>
                <key>offset</key>
                <string>{14,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,254},{126,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1646},{130,246}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,245},{130,246}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>run_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,116},{142,238}}</string>
                <key>offset</key>
                <string>{11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,253},{142,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,840},{160,236}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,234},{160,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1850},{162,238}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,232},{162,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1370},{164,238}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,232},{164,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,116},{166,240}}</string>
                <key>offset</key>
                <string>{30,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,230},{166,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,116},{168,240}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,230},{168,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1126},{168,242}}</string>
                <key>offset</key>
                <string>{30,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,228},{168,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,116},{168,242}}</string>
                <key>offset</key>
                <string>{29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,228},{168,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,366},{168,242}}</string>
                <key>offset</key>
                <string>{29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,228},{168,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,622},{168,242}}</string>
                <key>offset</key>
                <string>{29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,228},{168,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,866},{166,242}}</string>
                <key>offset</key>
                <string>{28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,228},{166,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,610},{164,242}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,228},{164,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1632},{164,240}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,230},{164,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,358},{166,240}}</string>
                <key>offset</key>
                <string>{26,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,230},{166,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1610},{162,238}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,232},{162,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,600},{158,238}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,232},{158,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,854},{160,238}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,232},{160,238}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1094},{160,236}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,234},{160,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,626},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,886},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1144},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1402},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,116},{132,254}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,235},{132,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,892},{134,254}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,235},{134,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,376},{132,254}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,235},{132,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,376},{132,256}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,234},{132,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1198},{130,256}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,234},{130,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,634},{130,256}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,233},{130,256}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,634},{132,254}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,233},{132,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1198},{134,254}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,233},{134,254}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,890},{134,252}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,234},{134,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1148},{134,252}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,234},{134,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,370},{134,250}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,236},{134,250}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1708},{132,252}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,235},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,116},{132,252}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{132,252}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,660},{112,270}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,227},{112,270}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{112,272}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,226},{112,272}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{112,274}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,225},{112,274}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{112,276}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,224},{112,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,276}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,224},{112,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{112,278}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,223},{112,278}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{112,276}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,224},{112,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{112,278}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,222},{112,278}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,278}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,222},{112,278}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{112,276}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,223},{112,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{112,274}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,222},{112,274}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{112,276}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,221},{112,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{112,276}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,222},{112,276}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{112,274}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,223},{112,274}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,388},{112,270}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,225},{112,270}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{112,270}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,226},{112,270}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>stand_03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2},{112,270}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,227},{112,270}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role1.png</string>
            <key>size</key>
            <string>{2046,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87d48b19d07fcc3ace42313139ca4b5b$</string>
            <key>textureFileName</key>
            <string>role1.png</string>
        </dict>
    </dict>
</plist>
