<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touch_mouse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,150},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,800},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,534},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,268},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{132,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,39},{132,74}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
            <key>touch_mouse_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{264,146}}</string>
                <key>sourceSize</key>
                <string>{272,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch_mouse.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74b777ee8e81a97b2d8723ef6876e17c$</string>
            <key>textureFileName</key>
            <string>touch_mouse.png</string>
        </dict>
    </dict>
</plist>
