<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhiliao_l_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{132,230}}</string>
                <key>offset</key>
                <string>{-9,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,209},{132,230}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{172,300}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,150},{172,300}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,420},{194,340}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,140},{194,340}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,874},{196,360}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,120},{196,360}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1352},{198,382}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,98},{198,382}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1766},{198,406}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,74},{198,406}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1352},{198,412}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,68},{198,412}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{200,416}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,64},{200,416}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,450},{202,422}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,58},{202,422}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,920},{202,430}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,50},{202,430}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1392},{204,440}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,40},{204,440}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{206,446}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,34},{206,446}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,466},{208,452}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,28},{208,452}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,932},{210,458}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,22},{210,458}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,468},{208,462}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,18},{208,462}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1424},{206,464}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,16},{206,464}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,956},{204,466}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,14},{204,466}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{204,468}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,12},{204,468}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{202,464}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,16},{202,464}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{200,472}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,8},{200,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,480}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,0},{196,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{192,476}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,4},{192,476}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,484},{190,470}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,10},{190,470}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{186,470}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,10},{186,470}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{182,462}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,18},{182,462}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>zhiliao_l_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1890},{146,434}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,46},{146,434}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhiliao.png</string>
            <key>size</key>
            <string>{1360,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e160452a8e8e229165cd991eaa1e63d$</string>
            <key>textureFileName</key>
            <string>zhiliao.png</string>
        </dict>
    </dict>
</plist>
